<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Add New Anxiety Episode</h1>
    <button type="button"><a href="/anxietytracker">Home</a></button>
    <form class="form" action="/anxietytracker" method="post">

      <label for="date">Date</label>
      <input type="date" name="date" id='date'>
      <br>
      <label for="trigger">Trigger</label>
      <textarea name="trigger" id="trigger" rows="1" cols="65"></textarea>
      <!-- <label for="trigger">Trigger</label>
      <input type="text" name="trigger" id="trigger"> -->
      <br>
      Trigger Type:
      <br>

      <% let triggerTypes = ['situation','thought','physical sensation','event','expectation'] %>
      <% triggerTypes.forEach ((trigger, index) => { %>
        <input type="radio" name= "triggerType" id="<%=trigger%>">
        <label for="<%=trigger%>"><%=trigger%></label>
      <% }) %>


      <br>
      <label for="intensity">Intensity</label>
      <input type="range" name="intensity" id="intensity" value="50" min="1" max="100">
      <br>
      <label for="thoughts">Thoughts:</label>
      <!-- <input type="text" name="thoughtTitle"> -->
      <br>
      <textarea name="thoughts" id="thoughts" rows="5" cols="75" placeholder="List thoughts here..."></textarea>
      <br>

      <input type="submit" value="Add">



    </form>

  </body>
</html>
